doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
    link(rel="stylesheet", href="lib/style.css")
    title Document
  body 
  .container 
    .intro 
        .intro__square
        img.intro__hero(src="lib/media/hero.png", alt="hero", data-aos="fade-left")
        h1.intro__title(data-aos="fade-right") 501 <br> Элитный <br> Штурмовой <br> Легион
        button.intro__button(data-aos="fade-up") ПРО НАС

  script(src="https://unpkg.com/aos@2.3.1/dist/aos.js") 
  script(src="lib/main-dist.js") 