.menu
  a(href="#home" class="exit-button") 
   img(src="https://www.svgrepo.com/show/30651/backspace.svg", alt="exit-button").menu-exit
  h1.menu__title МЕНЮ
  nav.menu__nav 
    img.hud__elem(src="https://www.svgrepo.com/show/181915/diagonal-arrow-arrows.svg", alt="")
    a.nav-link(href="#") СОСТАВ
    img.hud__elem(src="https://www.svgrepo.com/show/181915/diagonal-arrow-arrows.svg", alt="")

script(src="lib/menu-dist.js")