.menu
  a(href="#home" class="exit-button") 
  h1.menu__title МЕНЮ
  nav.menu__nav 
    a.nav__link(href="db.html") СОСТАВ
    a.nav__link(href="#") ПОВЫШЕНИЕ
    a.nav__link(href="#") КАРТЫ
    a.nav__link(href="#") ЧАТ
    a.nav__link(href="#") СТАИСТКИА
    a.nav__link(href="index.html") ИНТРО
a.menu-button(href="#" onclick="opnMnu()")

script(src="lib/menu-dist.js")